.page {
  width: 100%;
  height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: clamp(340px, 70%, 600px);

  display: grid;
  grid-template-columns: 1fr;

  gap: 8px;
  padding: 12px;

  border: 1px solid var(--gray-color);
  border-radius: 12px;

  box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .form {
    grid-template-columns: repeat(2, 1fr);
  }

  .form__row_full {
    grid-column: span 2;
  }
}