.button {
  all: unset;

  padding: 8px 16px;

  font-size: clamp(12px, 2vw, 16px);
  font-weight: 400;

  text-align: center;

  background-color: var(--primary-color);
  color: var(--white-color);

  border-radius: 10px;

  transition: all 150ms;
}

.button:not(:disabled) {
  cursor: pointer;
}

.button:not(:disabled):hover, .button:not(:disabled):focus {
  background-color: var(--primary-hover-color);
}

.button:not(:disabled):active {
  background-color: var(--primary-active-color);
}

.button:disabled {
  background-color: var(--disabled-bg-color);
  color: var(--disabled-font-color);
}